@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

/* body {
    font-family: "Montserrat";
  } */

:root{

  --hue-color: 250;
  /* --sec-hue-color:342; */


  --text-color: white;
  --para-color: #8f8f8f;
  --primary-bg-color: hsl(var(--hue-color), 69%, 61%);
  /* --secondary-bg-color:hsl(var(--hue-color), 100%, 45%); */
  
}

body{
  transition: all 0.7s;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat";
    font-weight: 700;
  }